extends ~layouts/columns

block title
    div(style="float:right")
        :markdown-it
            [solutions](https://tomusdrw.github.io/devmeeting-hapijs/05-glue/)
    | Tasks

block content
    +slide_column()
        .l-column-fit
            +task('basic')
              :markdown-it
                Split the application into plugins

            +task('basic')
              :markdown-it
                Move the `/api/products` prefix to plugin configuration

            +task('advanced')
              :markdown-it
                Write separate tests for a single plugin

            +task('extra')
              :markdown-it
                Create separate `package.json` files for each plugin
