doctype html
html
    head
        meta(charset="utf-8")
    body
        .reveal
            .slides
                include presentation/title

                include presentation/module01/index
                include presentation/module02/index
                include presentation/module03/index
                include presentation/module04/index
                include presentation/module05/index
                include presentation/module06/index




