extends ~layouts/columns

block title
    | Tasks

block content
    +slide_column()
        .l-column-fit
            +task('basic')
              :markdown-it
                Generate docs using `lout` or `hapi-swagger`.
                
                Each route should have validation, tags, and descriptions.

            +task('basic')
              :markdown-it
                Add authentication with `hapi-auth-jwt2`

            +task('advanced')
              :markdown-it
                Add `blankie` and define strict Content Security Policy

            +task('advanced')
              :markdown-it
                Add a server method and matching route. Use caching.
