extends ~layouts/columns

block title
    | Tasks

block content
    +slide_column()
        .l-column-fit
            +task('basic')
                | Log all requests with `good`

            +task('basic')
                | Add `POST /api/products` route. Validate the payload and use `boom` for errors.

            +task('optional')
                | Add `DELETE /api/products/{id}` route.

            +task('optional')
                | Test `GET /` and `POST /api/products` endpoints

            +task('optional')
                | Create a new product form

            +task('optional')
                | Get 100% test coverage (`lab -c`)
