extends ~layouts/columns

block title
    | Tasks

block content
    +slide_column()
        .l-column-fit
            +task('basic')
              :markdown-it
                Log all requests with `good` and print routing table with `blipp`

            +task('basic')
              :markdown-it
                Add `POST /api/products` route. Validate the payload and use `boom` for errors
                
                [Update the frontend](https://github.com/tomusdrw/devmeeting-hapijs/archive/frontend.zip)

            +task('basic')
              :markdown-it
                Test `GET /` and `POST /api/products` endpoints

            +task('advanced')
              :markdown-it
                Add `DELETE /api/products/{id}` route

            +task('advanced')
              :markdown-it
                Add `POST /api/cart` route

            +task('extra')
              :markdown-it
                Get 100% test coverage (`lab -c`)
