extends ~layouts/columns

block title
    div(style="float:right")
        :markdown-it
            [solutions](https://tomusdrw.github.io/devmeeting-hapijs/04-validation/)
    | Tasks

block content
    +slide_column()
        .l-column-fit
            +task('basic')
              :markdown-it
                Add `joi` validation for the `POST /api/prodcuts/` route

            +task('basic')
              :markdown-it
                Add `DELETE /api/products/{id}` route and validate the param

            +task('advanced')
              :markdown-it
                Reuse the `product` validation schema to validate the response to `GET /api/products`

            +task('advanced')
              :markdown-it
                Add `joi` validation to all routes

            +task('extra')
              :markdown-it
                Get 100% test coverage (`lab -c`)

            +task('extra')
              :markdown-it
                Use either `loki` or `lowdb` and replace the in-memory database
