extends ~layouts/columns

block title
    | Tasks

block content
    +slide_column()
        .l-column-fit
            +task('basic')
                | Add `joi` validation for the `POST /api/prodcuts/` route.

            +task('basic')
                | Add `DELETE /api/products/{id}` route and validate the param.

            +task('optional')
                | Reuse the `product` validation schema to validate the response to `GET /api/products`

            +task('optional')
                | Get 100% test coverage (`lab -c`)

            +task('optional')
                | Use either `loki` or `lowdb` and replace the in-memory database.
