extends ~layouts/title_page

block title
    | Hapi.js for Node developers

    p: a(style="font-weight:100", href="https://bit.ly/hapijs-wroc") https://bit.ly/hapijs-wroc

    p: small 07.10.2017, Wrocław
